/*@import url("bootstrap.min.css");*/
/*@import url("bootstrap-theme.css");*/

@font-face {
    font-family: GreatVibes;
    src: url("../fonts/GreatVibes-Regular.otf") format("opentype");
}

body {
  margin: 0px 0px;
  padding: 00px;
  color: black;
  position: relative;  /* needed for scrollspy.js */
/*  background: rgb(213, 201, 229); */
  color: black;
  font-size: 125%;
  min-width: 320px;
}

header, footer div {
    background: url('../images/sos.png') repeat;

}

header {
    padding-top: 40px;
    position:fixed;
    width:100%;
    z-index:5;
}

header ul li:nth-child(1) {
  padding-left: 5%;
}



#nav {
    min-width:400px;
}

#nav a {
    font-size: 1.5em;
}

#home {
    background:url("../images/pier.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.tab-content section {
    height: 1000px;
    padding-top:100px;
//    overflow: hidden;
}

.tab-content section {

   // background: yellow;
    background: white;

    background-size: cover;

    clear: both;
    text-align:center;

}

section #inner-content {
    border: 1px solid white;
    border-radius:  20px;
    background:rgba(255,255,255, 0.40);
    width: 95%;
    margin: 20px auto;
    height: 800px;   
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding-top: 20%;
}

#map .addy {
    margin-left:5%;
}

#map .addy2 {

    margin-left:100px;
    margin-top:30px;
    /*
    margin-bottom:20px;
    */
    position:fixed;
    z-index: 1;

    top:13%;
    background: white;
    padding:5px

}

section h2 {
    font-size:  400%;
    //font-family: 'Architects Daughter', cursive;
    //font-family: 'Cabin', sans-serif;
    font-family: GreatVibes, Helvetica, Verdana, Sans-Serif;

    color: white;
    text-shadow: 2px 2px #000000;
}

#map-canvas {
  height:700px;
  padding: 20px; 50px;
  border: 1px solid black;
}

h2.save-text {
//    color: rgb(110,80,117);    

}

section h2.save-date {
    font-size: 700%;
    font-style: italic;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

footer {
    border-top: 1px solid #777;

    color: #777;
    font-size: 18px;
    height:50px;
    line-height: 50px;
    position:fixed;
    width:100%;
    bottom: 0;
    z-index: 5;
    background:white;
}

footer div {
    padding-left:5%;
}