/*@import url("bootstrap.min.css");*/
/*@import url("bootstrap-theme.css");*/

body {
  margin: 0px 0px;
  padding: 00px;
  color: black;
  position: relative;  /* needed for scrollspy.js */
/*  background: rgb(213, 201, 229); */
  color: black;
}

header {
  background: white;
  padding-top: 40px;
}

header ul li:nth-child(1) {
  padding-left: 5%;
}

.tab-content section {
  min-height: 800px;
}


.tab-content section:not(#map) {
    clear: both;
    padding-top:100px;
    text-align:center;
}

#map .addy {
    margin-left:50px;
    margin-top:20px;
    margin-bottom:20px;
}

section h2 {
    font-family: 'Architects Daughter', cursive;
}

#map-canvas {
    height:700px;
}

h2.save-text {
    font-size: 10em;
    color: rgb(110,80,117);    
}

h2.save-date {
     font-size: 16em;   
     color: #ed9821;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

footer {
    border-top: 1px solid #777;
    padding-top:20px;
    color: #777;
    font-size: 18px;
    height:100px;
}